@charset "utf-8";

/**
 * Material Blood Orange
 *
 * @color
 * @section Theme One > Color Palette
 */
$c-theme-1: #E37B40;
/**
 * Material Teal
 *
 * @color
 * @section Theme One > Color Palette
 */
$c-theme-2: #46B29D;
/**
 * Material Light Orange
 *
 * @color
 * @section Theme One > Color Palette
 */
$c-theme-3: #DE5B49;
/**
 * Material Navy Blue
 *
 * @color
 * @section Theme One > Color Palette
 */
$c-theme-4: #324D5C;
/**
 * Material Yellow
 *
 * @color
 * @section Theme One > Color Palette
 */
$c-theme-5: #F0CA4D;

